# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives:**
* Working with data
* Libraries for Data Science
* Git Version Control
* Jupyter Notebook
* R Programming

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. NumPy

|Data Science Tools|
|------------------|
|Tableau|
|TensorFlow|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
3+5 #Addition

8

In [7]:
7-2 #Subtraction

5

In [8]:
2*4 #Multiplication

8

In [9]:
9/3 #Divisions

3.0

In [11]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [16]:
print(f'200 minutes equal to {int((200-200%60)/60)} hours and {int(200%60)} minutes')
#This will convert 200 minutes to hours by diving by 60

200 minutes equal to 3 hours and 20 minutes

## Author
Dovud